---json
{
  "permalink": "sitemap.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
    {%- if page.url == "/" or page.url == "/index.html" %}
    <priority>1.0</priority>
    <changefreq>weekly</changefreq>
    {%- elif "/docs/" in page.url %}
    <priority>0.8</priority>
    <changefreq>monthly</changefreq>
    {%- elif "/blog/" in page.url %}
    <priority>0.7</priority>
    <changefreq>monthly</changefreq>
    {%- elif "/api/" in page.url %}
    <priority>0.6</priority>
    <changefreq>monthly</changefreq>
    {%- else %}
    <priority>0.5</priority>
    <changefreq>monthly</changefreq>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
